body {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	line-height: 1.5em;
}
*{
	box-sizing: border-box;
}
.cards-container {
	text-align: center;
	font-size: 18px;
}
.card-wrapper {
	--img-size: 100px;
	--main-bg-color: rgba(23, 163, 184, 1);
	display: inline-block;
	min-width: calc(var(--img-size)*2);
	width: 100%;
	max-width: calc(var(--img-size)*3);
	border: 1px solid var(--main-bg-color);
	margin: 5px;
	font-size: 0.8em;
}
.bg-header {
	height: calc(var(--img-size)*1.2);
	background-color: var(--main-bg-color);
}
.card-content {
	padding: 0 20px;
}
.photo-profile {
	width: var(--img-size);
	height: var(--img-size);
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 50%;
	margin-top: calc(var(--img-size)*-0.5);
	margin-bottom: 10px;
	object-fit: cover;
	object-position: top center;
	background-color: #ffffff;
}
.overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.full-name-profile {
	min-width: 50px;
	width: 100%;
	max-width: 85px;
	margin: auto;
}
.address-profile-overflow-town {
	display: inline-block;
	min-width: 50px;
	width: 100%;
	max-width: 80px;
}
.address-profile-overflow-cauntry {
	display: inline-block;
	min-width: 20px;
	width: 100%;
	max-width: 34px;
}
.icon-map {
	height: 15px;
	margin-bottom: 18px;
}
.sppercase {
	text-transform: uppercase;
}
.btn-conteiner {
	padding: 10px 0px;
	/* margin-top: 10px; */
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.btn {
	width: auto;
	height: 25px;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	color: white;
	text-transform: inherit;
}
.follow {
	display: inline-block;
	min-width: 20px;
	width: 100%;
	max-width: 55px;
	background-color: rgba(37, 168, 68, 1);
}
.send_message {
	display: inline-block;
	min-width: 20px;
	width: 100%;
	max-width: 110px;
	background-color: var(--main-bg-color)
}
.description-profile {
	padding: 15px 0 20px 0;
	text-transform: initial;
}
.card-footer {
	background-color: var(--main-bg-color);
	padding: 10px;
}
.link-social {
	display: block;
	width: 36px;
	height: 36px;
}
.card-item-social {
	display: inline-block;
}
.icon-fb {
	background-image: url(./../icons/facebook.png);
}
.icon-google {
	background-image: url(./../icons/google-plus.png);
}
.icon-twitter {
	background-image: url(./../icons/twitter.png);

}